name: Validate JSONs

on: [pull_request]

jobs:
  verify-json-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - id: files
        uses: jitterbit/get-changed-files@v1
        with:
          format: 'json'
      - id: chagedFiles
        run: |
          print("INITIAL INPUT IS OF TYPE: "+str(type(${{ steps.files.outputs.all }})))
          list_as_string = ",".join(${{ steps.files.outputs.all }})
          print("list_as_string: "+list_as_string)
          print("::set-output name=FILES_LIST::"+list_as_string)
        shell: python
      - name: Validate JSON
        uses: docker://orrosenblatt/validate-json-action:latest
        env:
          INPUT_SCHEMA: /internal/policy-id-schema.json
          INPUT_JSONS: ${{ steps.chagedFiles.outputs.FILES_LIST }}
